<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">About this Angular App</h5>
      <p class="card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum
        quaerat aspernatur consectetur, minima ipsum non quod ipsam. Asperiores
        ducimus, illum voluptates ad similique aliquid! Explicabo veritatis
        doloremque incidunt sit nobis hic, sunt rem amet perspiciatis et,
        tempora facere recusandae cumque.
      </p>
    </div>
  </div>
</div>
